<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Marksheet</title>
</head>

<body>
    <form method="post" action="/marksheetprocess">
        Subject 1 : <input type="text" placeholder="Enter First Num" name="txt1" autocomplete="off" required /> <br />
        Subject 2 : <input type="text" placeholder="Enter Second Num" name="txt2" autocomplete="off" required /> <br />
        <input type="submit" />
    </form>
</body>

</html>